@use 'sass:color';
@use '../globals';
/* App.scss */

.container {
  background-color: globals.$primary-color;
  padding: globals.$padding-size;
  border-radius: 10px;
  color: white;

  .button {
    background-color: globals.$secondary_color;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    cursor: pointer;

    &:hover {
    background-color: color.adjust(globals.$primary-color, $lightness: -5%);
    }
  }
}

