.equation {
  display: inline-flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  cursor: pointer; /* Indicate interactivity */
}

/* Initial State for Removable */
.removable {
  transition: transform 0.5s ease, opacity 100 0.5s ease;
  color: rgb(255, 0, 0)
}

/* Removable Hidden State */
.hidden {
  transform: scaleX(0);
  opacity: 0;
  pointer-events: none; /* Prevent interaction during animation */
}

/* Initial State for Addition */
.addition {
  opacity: 0;
  transform: translateX(20px);
  transition: transform 0.5s ease, opacity 1s ease;
}

/* Addition Visible State */
.visible {
  opacity: 1;
  transform: translateX(0);
}

