$gray: #d9d9d9;
$red: #ffb6c1;
$blue: #add8e6;
$green: #98fb98;

.periodic-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;

  .legend {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 0.875rem;
    
    p {
      margin: 10px;
      padding: 5px;
      border-radius: 4px;
      &.group-1 { background-color: $red; }
      &.group-2 { background-color: $blue; }
      &.group-3 { background-color: $green; }
    }    
  }

  .theory {
    margin-bottom: 20px;
    text-align: left;

    p {
      padding: 2%;
      margin-bottom: 10px;
      line-height: 1.6;
    }

    h3 {
      color: black;
      margin-bottom: 10px;
      padding: 2%;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      padding: 2%;

      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        color: #000;
      }

      th {
        background-color: #f2f2f2;
        color: #000;
      }
    }
  }

  .table {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-auto-rows: 60px;

    .element {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      font-size: 0.875rem;
      padding: 5px;
      text-align: center;
      width: 60px;
      height: 60px;
      color: black;
      cursor: pointer;

      &.group-1 { background-color: $red; }
      &.group-2 { background-color: $blue; }
      &.group-13 { background-color: $green; }
    }
  }

  .element-info {
    position: absolute;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    max-width: 400px;
    margin-top: 70%;
  }

  .task {
    margin-top: 20px;
    padding: 20px;
    background-color: $gray;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    max-width: 600px;
    color: black;

    .question {
      margin-bottom: 20px;

      p {
        cursor: pointer;
        &:hover {
          background-color: $gray;
        }
      }

      .correct {
        color: rgb(0, 198, 0);
      }

      .incorrect {
        color: red;
      }
    }
  }

}
